body

p, .right, .left {
	font-family: 'Roboto', sans-serif;
	font-size: 28px;
}

h1{
	text-decoration: underline;
	font-size: 44px;
	font-stretch: ultra-expanded;
	font-weight: bold;
	text-align: center;
}

#business{
	background-color: lightgrey;
    border: 10px solid red;
    padding: 10px;
    margin: 10px;
}

#liner{
	text-decoration: underline;
	font-size: 30px;
	font-style: italic;
	font-stretch: ultra-expanded;
	font-weight: bold;
	color: rgb(7,87,31);
	display: block;
	padding-bottom: 20px;

}

h2, figcaption{
	text-align: center;
}

img {
    display: block;
    margin: 0 auto;
}

#slogan{
	color: #800000;
	font-weight: bold;
}

h3{
	font-stretch: ultra-expanded;
	font-weight: bold;
	text-align: center;
	font-style: italic;
	font-size: 28px;
	color: #800000;
	background-color: lightgrey;
    border: 10px solid green;
    padding: 10px;
    margin: 10px;
}

.left{
	width: 40%;
	background-color: rgb(46,244,255);
	display: inline-block;
	float: left;
}

.right{
	width: 40%;
	background-color: rgb(46,244,255);
	display: inline-block;
	float: right;
}

footer p{
	text-align: center;
	font-stretch: ultra-expanded;
	font-weight: bold;
	color: #800000;
}

article{
	font-size: 18px;
	text-align: center;
}

li {
	font-size: 20px;
	font-family: 'Mada', sans-serif;
	font-style: italic;
	font-weight: bold;
}

.nav-links{
	display: inline-block;
	margin-right: 32px;
}

.mini-slogan {
	text-align: center;
	text-decoration: underline;
}	